In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df=pd.read_csv("Air-Quality.csv")

In [6]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

DATA CLEANING

In [11]:
df.isnull().sum()

City              0
Date              0
PM2.5           678
PM10           7086
NO              387
NO2             391
NOx            1857
NH3            6536
CO              445
SO2             605
O3              807
Benzene        3535
Toluene        5826
Xylene        15372
AQI               0
AQI_Bucket        0
dtype: int64

In [20]:
df=df[df['AQI'].notna()]

In [19]:
print(df)

                City        Date   PM2.5        PM10     NO    NO2    NOx  \
28         Ahmedabad  2015-01-29   83.13  118.454435   6.93  28.71  33.72
29         Ahmedabad  2015-01-30   79.84  118.454435  13.85  28.68  41.08
30         Ahmedabad  2015-01-31   94.52  118.454435  24.39  32.66  52.61
31         Ahmedabad  2015-02-01  135.99  118.454435  43.48  42.08  84.57
32         Ahmedabad  2015-02-02  178.33  118.454435  54.56  35.31  72.80
...              ...         ...     ...         ...    ...    ...    ...
29526  Visakhapatnam  2020-06-27   15.02   50.940000   7.68  25.06  19.54
29527  Visakhapatnam  2020-06-28   24.38   74.090000   3.42  26.06  16.53
29528  Visakhapatnam  2020-06-29   22.91   65.730000   3.45  29.53  18.33
29529  Visakhapatnam  2020-06-30   16.64   49.970000   4.05  29.26  18.80
29530  Visakhapatnam  2020-07-01   15.00   66.000000   0.40  26.85  14.05

             NH3     CO    SO2      O3   Benzene    Toluene     Xylene    AQI  \
28     23.848366   6.93  49.52   59.76  0.020000   0.000000   3.140000  209.0
29     23.848366  13.85  48.49   97.07  0.040000   0.000000   4.810000  328.0
30     23.848366  24.39  67.39  111.33  0.240000   0.010000   7.670000  514.0
31     23.848366  43.48  75.23  102.70  0.400000   0.040000  25.870000  782.0
32     23.848366  54.56  55.04  107.38  0.460000   0.060000  35.610000  914.0
...          ...    ...    ...     ...       ...        ...        ...    ...
29526  12.470000   0.47   8.55   23.30  2.240000  12.070000   0.730000   41.0
29527  11.990000   0.52  12.72   30.14  0.740000   2.210000   0.380000   70.0
29528  10.710000   0.48   8.42   30.96  0.010000   0.010000   0.000000   68.0
29529  10.030000   0.52   9.84   28.30  0.000000   0.000000   0.000000   54.0
29530   5.200000   0.59   2.10   17.05  3.458668   9.525714   3.588683   50.0

         AQI_Bucket
28             Poor
29        Very Poor
30           Severe
31           Severe
32           Severe
...             ...
29526          Good
29527  Satisfactory
29528  Satisfactory
29529  Satisfactory
29530          Good

[24850 rows x 16 columns]

DATA TRANSFORMATION

In [13]:
#Data transformation
pm25=df['PM2.5'].mean(axis=0)
pm10=df['PM10'].mean(axis=0)
no=df['NO'].mean(axis=0)
no2=df['NO2'].mean(axis=0)
nox=df['NOx'].mean(axis=0)
nh3=df['NH3'].mean(axis=0)
co=df['CO'].mean(axis=0)
so2=df['SO2'].mean(axis=0)
o3=df['O3'].mean(axis=0)
ben=df['Benzene'].mean(axis=0)
tol=df['Toluene'].mean(axis=0)
xyl=df['Xylene'].mean(axis=0)

In [14]:
df['PM2.5'].fillna(pm25,inplace=True)
df['PM10'].fillna(pm10,inplace=True)
df['NO'].fillna(no,inplace=True)
df['NO2'].fillna(no2, inplace=True)
df['NOx'].fillna(nox, inplace=True)
df['CO'].fillna(co, inplace=True)
df['SO2'].fillna(so2, inplace=True)
df['O3'].fillna(o3, inplace=True)
df['Benzene'].fillna(ben, inplace=True)
df['Toluene'].fillna(tol, inplace=True)
df['Xylene'].fillna(xyl, inplace=True)
df['NH3'].fillna(nh3, inplace=True)

C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PM2.5'].fillna(pm25,inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PM10'].fillna(pm10,inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NO'].fillna(no,inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NO2'].fillna(no2, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NOx'].fillna(nox, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CO'].fillna(co, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SO2'].fillna(so2, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['O3'].fillna(o3, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Benzene'].fillna(ben, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Toluene'].fillna(tol, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Xylene'].fillna(xyl, inplace=True)
C:\Users\Ashutosh\AppData\Local\Temp\ipykernel_11516\3594954207.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NH3'].fillna(nh3, inplace=True)

In [15]:
print(df.describe())

              PM2.5          PM10            NO           NO2           NOx  \
count  24850.000000  24850.000000  24850.000000  24850.000000  24850.000000
mean      67.476613    118.454435     17.622421     28.978391     32.289012
std       62.208948     75.660357     22.245859     24.432532     29.542967
min        0.040000      0.030000      0.030000      0.010000      0.000000
25%       29.560000     71.780000      5.720000     12.090000     14.030000
50%       50.165000    118.454435     10.075000     22.535000     25.720000
75%       79.507500    122.957500     19.710000     37.910000     38.170000
max      914.940000    917.080000    390.680000    362.210000    378.240000

                NH3            CO           SO2            O3       Benzene  \
count  24850.000000  24850.000000  24850.000000  24850.000000  24850.000000
mean      23.848366      2.345267     14.362933     34.912885      3.458668
std       22.213762      7.011570     17.215217     21.368849     14.851646
min        0.010000      0.000000      0.010000      0.010000      0.000000
25%       11.280000      0.590000      5.790000     19.640000      0.340000
50%       23.848366      0.950000      9.430000     32.060000      1.810000
75%       24.710000      1.530000     14.890000     45.397500      3.458668
max      352.890000    175.810000    186.080000    257.730000    455.030000

            Toluene        Xylene           AQI
count  24850.000000  24850.000000  24850.000000
mean       9.525714      3.588683    166.463581
std       18.269981      4.171218    140.696585
min        0.000000      0.000000     13.000000
25%        1.580000      2.650000     81.000000
50%        6.790000      3.588683    118.000000
75%        9.525714      3.588683    208.000000
max      454.850000    170.370000   2049.000000

In [16]:
df.shape

(24850, 16)

DATA MODELING

In [17]:
#Data modeling
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [18]:
X=df[['City', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'CO', 'SO2', 'Benzene', 'Toluene',
'Xylene']].values
Y=df[['AQI']].values
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])],
remainder='passthrough')
X = np.array(ct.fit_transform(X))
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2, random_state=2)
lr = LinearRegression()
lr.fit(X_train, Y_train)
Y_pred = lr.predict(X_test)
print('\n-------------------------- mse of the model --------------------------\n')
print('mse =', mean_squared_error(Y_test, Y_pred, squared=False))

-------------------------- mse of the model --------------------------

mse = 55.97930838472148